# Build settings

port: 4000
markdown:  kramdown
permalink: /:title
plugins:   [jekyll-sitemap, jekyll-feed,  jekyll-seo-tag]

# Customise atom feed settings (this is where Jekyll-Feed gets configuration information)

title:		   "Crocodile Couture"
description: "Vente de sacs banane sur mesure"
author:      "Aurore Bourquelot"
  
collections:
  creations:
    output: true
    sort_by: date

prose:
  rooturl: ''
  media: 'media'
  ignore: ["_includes", "_layouts", "_sass", "assets", ".gitignore", "CNAME", "Gemfile", "_config.yml", "favicon.ico", "favicon.svg", "projects", "_posts", "crocodilecouture.gemspec"]
  metadata:
    _creations:
      - name: "layout"
        field:
          element: "hidden"
          value: "creation"
      - name: "title"
        field:
          element: "text"
          label: "Nom du modèle"
          value: ""
      - name: "date"
        field:
          element: "text"
          label: "Date"
          value: "CURRENT_DATETIME"
      - name: "miniature"
        field:
          element: "select"
          label: "Image de couverture"
          value: "ouverte"
          options:
            - name: "De face"
              value: "face"
            - name: "Ouverte"
              value: "ouverte"
            - name: "De derrière"
              value: "arriere"
    pages:
      - name: "layout"
        field:
          element: "hidden"
          value: "page"
      - name: "permalink"
        field:
          element: "text"
          label: "URL"
          value: "/"
      - name: "title"
        field:
          element: "text"
          label: "Titre"
          value: ""
    _posts:
      - name: "category"
        field:
          element: "hidden"
          value: "blog"
      - name: "layout"
        field:
          element: "hidden"
          value: "blog"
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "splash"
        field:
          element: "text"
          label: "Splash image"
          value: ""
      - name: "tags"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          options:
            - name: "Apples"
              value: "apples"
            - name: "Bananas"
              value: "bananas"
            - name: "Pears"
              value: "pears"
            - name: "Mangos"
              value: "mangos"
    _posts/static:
      - name: "layout"
        field:
          element: "hidden"
          value: "page"
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "permalink"
        field:
          element: "text"
          label: "Permalink"
          value: ""
