---
layout: default
---

<section>
  <div class="post-container">
    <h4 class="project-title">{{ page.title }}</h4>
    <div class="project-load">
      {{ content }}
      {% if page.available %}
      <p class="order-now">
      <a href="mailto:crocodile.couture@gmail.com?subject=Commande de banane - {{ page.title }}">Commander</a>
      </p>
      {% endif %}
{% capture mdimgs %}
![Vue de face](/_creations/{{ page.url | split: "/" | last }}/face.webp)
![Vue ouverte](/_creations/{{ page.url | split: "/" | last }}/ouverte.webp)
![Vue arrière](/_creations/{{ page.url | split: "/" | last }}/arriere.webp)
{% endcapture %}
{{ mdimgs | markdownify }}
      {% if page.available %}
      <p class="order-now">
      <a href="mailto:crocodile.couture@gmail.com?subject=Commande de banane - {{ page.title }}">Commander</a>
      </p>
      {% endif %}
    </div>
  </div>
</section>
